BL_HC_HOST=127.0.0.1
BL_HC_PORT=8789
BL_HC_HOME=C:\ProgramData\DEUSNode\agents\BL-HC-01
BL_HC_API_TOKEN=GENERATE_LOCALLY_DO_NOT_STORE_IN_DRIVE
BL_HC_MODEL_ENDPOINT=http://127.0.0.1:YOUR_LOCAL_MODEL_PORT/v1
BL_HC_MODEL_NAME=YOUR_MODEL_NAME
BL_HC_MODEL_API_KEY=OPTIONAL_NODE_LOCAL_SECRET
BL_HC_MODEL_TIMEOUT_SEC=120
